*{
  margin:0;
  padding:0;
  box-sizing:cover;
}
body {
    height: 1500px;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    overflow: clipped;
 }
.post_container{
  height:100vh;
}
.loader{
    width : 40%;
    margin: auto;
    text-align:center;
}
.postdata_container {
  margin-top: 2% !important;
  width: 25%;
  height:60%;
  margin: auto;
  box-shadow: 2px 2px 3px rgb(29, 4, 61);
  
}
.postdata_card{
  position: relative;
}
img{
  display: block;
  height:60%;
  margin: auto;
  position: absolute;
  top:0;
}
.card-body{
  height: 35%;
  position: absolute;
  bottom : 1rem;
}
